.admin{
    font-size: 12px;
}
img{
    width: 5%;
    height: 5%;
    padding-right: 5px;
}


@media (max-width: 769px) {
    img{
        width: 10%;
    }
}

@media (max-width: 425px) {
    img{
        width: 15%;
    }
}