<ion-list mode="ios">

  <ion-item *ngIf="type === 'turno'">

    <ion-icon
    color="primary" 
    slot="start" 
    [name]="icon"
    ></ion-icon>

    <ion-select
    [formControl]="control"
    [label]="label"
    label-placement="floating"
    (ionChange)="handleChange($event)"
    >
    
      <ion-select-option *ngFor="let turno of turnos" [value]="turno">{{ turno.name }}</ion-select-option>

    </ion-select>
  </ion-item>
  
  <ion-item *ngIf="type === 'planta'">

    <ion-icon
    color="primary" 
    slot="start" 
    [name]="icon"
    ></ion-icon>

    <ion-select
    [formControl]="control"
    [label]="label"
    label-placement="floating"
    >

    <ion-select-option *ngFor="let planta of plantas" [value]="planta">{{ planta.name }}</ion-select-option>  

    </ion-select>
  </ion-item>
</ion-list>